body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* HEADER */
header {
    background: linear-gradient(to right, #0b3d91, #1456c3);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 25px;
    
}   

header h1 {
    margin: 0;
}

nav {
    margin-top: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 10px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* CONTEÚDO */
main {
    padding: 20px;
}

/* CAIXA BONITA */
.container {
    background: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: auto;
}

/* BOTÃO */
button {
    background-color: #0b3d91;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #092f6b;
}

/* FOOTER */
footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}